.misServicios{
    display: flex;
    justify-content: center;
    
    .contenedor{
        width: 1400px;
        padding: 50px 0px;

        .titulo{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                background-color: rgb(249, 39, 182);
                color: white;
                font-weight: 500;
                border: none;
                padding: 10px;
                cursor: pointer;
                border-radius: 5px;
            }
        }

        table{
            width: 100%;
            text-align: center;
            margin-top: 20px;

            .clasificados{
                background-color: rgb(0, 0, 0);
                color: white;

                th{
                    text-align: center;
                }
            }

            tr{
                height: 50px;
                background-color: rgba(226, 226, 226, 0.493);
                
                th{
                    text-align: left;
                }

                td{
                    .imagen{
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }

                    .borrar{
                        width: 20px;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}